@import './assets/global.scss';
$boxShadow: 0 0 15px rgba(0, 0, 0, 0.144);
html,body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;  
}
.App {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  >.header{
    background: rgb(17, 23, 27);
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.9em;
    padding: 0.8em 1em;
    >:nth-child(n+2){
      margin-left: 10px;
    }
    .title{
      display: flex;
      flex-flow: column;
      line-height: 1em;
      :nth-child(2){
        font-weight: bold;
        font-size: 1.5em;
        color: $primary;
      }
    }
  }
  >.content{
    display: flex;
    max-height: 100%;
    flex:1;
    >.vins-container{
      z-index: 1;
      flex-basis: 20%;
      box-sizing: border-box;
      box-shadow: $boxShadow;
      .add-vin-input{
        position: relative;
        display: flex;
        white-space: nowrap;
        >button{
          font-size: 0.85em;
          font-weight: bold;
        }
        >.error{
          font-size: 0.8em;
          color: red;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%,100%)
        }
      }
      
    }
    >.cars-container{
      background: rgb(211, 216, 219);
      box-sizing: border-box;
      flex-basis: 80%;
      height: 100%;
      overflow: scroll;
    }
  }
}


