.progress-bar-container{
    overflow: hidden;
    height: 5px;
    border-radius: 10px;
    width: 100%;
    background: rgba(179, 179, 179, 0.349);
    >.bar{
        transition: all 500ms;
        height: 100%;
        border-radius: 10px;
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.425);
        background:#00cf7d;
    }
}